.modal {
  visibility: hidden;
  background-color: rgba(0, 0, 0, 0.5);
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

.modal_is-opened {
  visibility: visible;
}

.modal__container {
  max-width: 630px;
  width: 100%;
  border-radius: 8px;
  background-color: #fff;
  padding: 32px 50px;
  position: relative;
  margin: 0 10px;
}

.modal__title-with-btn {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 0 32px;
}

.modal__close-btn {
  width: 40px;
  height: 40px;
  background-image: url(../images/close-icon.svg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  background-color: transparent;
  border-style: none;
  opacity: 40%;
}

.modal__close-btn:hover {
  opacity: 100%;
  cursor: pointer;
}

.modal__title {
  margin: 0;
  font-family: "Poppins", Arial, sans-serif;
  font-weight: 500;
  font-style: normal;
  font-size: 32px;
  line-height: 1;
  color: rgba(33, 33, 33, 1);
}

.modal__label {
  font-family: "Poppins", Arial, sans-serif;
  font-weight: 500;
  font-style: normal;
  font-size: 16px;
  line-height: 1.1;
  color: rgba(33, 33, 33, 0.7);
}

.modal__form {
  display: flex;
  flex-direction: column;
}

.modal__input {
  display: block;
  box-sizing: border-box;
  margin-top: 8px;
  margin-bottom: 32px;
  width: 100%;
  height: 52px;
  padding: 16px 12px;
  border: 1px solid rgba(33, 33, 33, 0.4);
  border-radius: 8px;
  font-family: "Poppins", Arial, sans-serif;
  font-weight: 500;
  font-style: normal;
  font-size: 20px;
  line-height: 1;
}

.modal__input::placeholder {
  color: rgba(33, 33, 33, 0.3);
}

.modal__input:hover {
  border: 1px solid rgba(33, 33, 33, 1);
  cursor: pointer;
}

.modal__submit-btn {
  max-width: 156px;
  width: 100%;
  border-radius: 8px;
  background-color: rgba(33, 33, 33, 1);
  padding: 18px 32px;
  color: #fff;
}

.modal__submit-btn:hover {
  cursor: pointer;
}

@media screen and (max-width: 630px) {
  .modal__container {
    padding: 12px;
  }

  .modal__title-with-btn {
    margin: 0 0 24px;
  }

  .modal__title {
    font-size: 20px;
  }

  .modal__input {
    margin-bottom: 24px;
  }
}
