.card {
  padding: 0;
  margin: 0;
  position: relative;
}

.card__image {
  width: 100%;
  height: 413px;
  object-fit: cover;
  display: block;
  border-radius: 8px;
}

.card__image:hover {
  cursor: pointer;
}

.card__content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 413px;
  padding: 12px 0 0;
}

.card__text {
  margin: 0;
  padding: 0;
  font-family: "Poppins", Arial, sans-serif;
  font-weight: 500;
  font-style: normal;
  font-size: 20px;
  line-height: 1.2;
  color: #212121;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

.card__like-btn {
  background-image: url(../images/like-icon.svg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-color: transparent;
  border-style: none;
  width: 23px;
  height: 20px;
  opacity: 40%;
  padding: 0;
  margin: 0;
}

.card__like-btn:hover {
  opacity: 100%;
  cursor: pointer;
}

.card__like-btn_liked {
  background-image: url(../images/liked-icon.svg);
  opacity: 100%;
}

.card__like-btn_liked:hover {
  background-image: url(../images/liked-hover-icon.svg);
}

.card__delete-btn {
  background-image: url(../images/delete-icon.svg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-color: transparent;
  border-style: none;
  width: 32px;
  height: 32px;
  padding: 0;
  position: absolute;
  top: 10px;
  right: 10px;
}

.card__delete-btn:hover {
  background-image: url(../images/delete-hover-icon.svg);
  cursor: pointer;
}

@media screen and (min-width: 631px) {
  .card__text {
    max-width: 355px;
  }
}

@media screen and (max-width: 630px) {
  .card {
    max-width: 288px;
  }

  .card__image {
    height: 288px;
  }

  .card__content {
    max-width: 288px;
  }

  .card__text {
    max-width: 250px;
    font-size: 16px;
  }

  .card__like-btn {
    width: 20px;
    height: 18px;
  }
}
