.modal {
  visibility: hidden;
  background-color: rgba(0, 0, 0, 0.5);
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  opacity: 0;
  transition: visibility 0.35s linear, opacity 0.35s linear;
}

.modal_is-opened {
  visibility: visible;
  opacity: 1;
}

.modal__container {
  max-width: 630px;
  width: 100%;
  border-radius: 8px;
  background-color: #fff;
  padding: 32px 50px;
  position: relative;
  margin: 0 10px;
}

.modal__container_delete {
  padding: 32px 20px;
}

.modal__delete-image-container {
  position: relative;
}

.modal__title-with-btn {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 0 32px;
}

.modal__close-btn {
  width: 40px;
  height: 40px;
  background-image: url(../images/close-icon.svg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  background-color: transparent;
  border-style: none;
  opacity: 40%;
}

.modal__close-btn_delete {
  position: absolute;
  padding: 0;
  right: -52px;
  top: 0;
  background-image: url(../images/close-icon-white.svg);
  opacity: 100%;
}

.modal__close-btn:hover {
  opacity: 100%;
  cursor: pointer;
}

.modal__close-btn_delete:hover {
  opacity: 40%;
}

.modal__title {
  margin: 0;
  font-family: "Poppins", Arial, sans-serif;
  font-weight: 500;
  font-style: normal;
  font-size: 32px;
  line-height: 1;
  color: rgba(33, 33, 33, 1);
}

.modal__title_delete {
  font-size: 24px;
  margin: 0 auto;
}

.modal__label {
  font-family: "Poppins", Arial, sans-serif;
  font-weight: 500;
  font-style: normal;
  font-size: 16px;
  line-height: 1.1;
  color: rgba(33, 33, 33, 0.7);
  margin-bottom: 32px;
}

.modal__form {
  display: flex;
  flex-direction: column;
}

.modal__form_delete {
  flex-direction: row;
  gap: 20px;
  justify-content: center;
}

.modal__error {
  color: rgba(255, 0, 0, 0.7);
  font-family: "Poppins", Arial, sans-serif;
  font-weight: 500;
  font-style: normal;
  font-size: 16px;
  line-height: 1.1;
  margin-top: 8px;
  display: block;
}

.modal__input {
  display: block;
  box-sizing: border-box;
  margin-top: 8px;
  width: 100%;
  height: 52px;
  padding: 16px 12px;
  border: 1px solid rgba(33, 33, 33, 0.4);
  border-radius: 8px;
  font-family: "Poppins", Arial, sans-serif;
  font-weight: 500;
  font-style: normal;
  font-size: 20px;
  line-height: 1;
}

.modal__input_type_error {
  border: 1px solid rgba(255, 0, 0, 0.6);
}

.modal__input::placeholder {
  color: rgba(33, 33, 33, 0.3);
}

.modal__input:hover {
  border: 1px solid rgba(33, 33, 33, 1);
}

.modal__submit-btn {
  max-width: 156px;
  width: 100%;
  border-radius: 8px;
  background-color: rgba(33, 33, 33, 1);
  padding: 18px 32px;
  color: #fff;
  font-family: "Poppins", Arial, sans-serif;
  font-weight: 500;
  font-style: normal;
  font-size: 16px;
  line-height: 1;
}

.modal__delete-btn {
  max-width: 156px;
  width: 100%;
  border-radius: 8px;
  border: none;
  background-color: rgba(255, 101, 101, 1);
  padding: 18px 32px;
  color: rgba(33, 33, 33, 1);
  font-family: "Poppins", Arial, sans-serif;
  font-weight: 500;
  font-style: normal;
  font-size: 16px;
  line-height: 1;
}

.modal__cancel-btn {
  max-width: 156px;
  width: 100%;
  border-radius: 8px;
  border: 1px solid rgba(33, 33, 33, 1);
  background-color: rgb(255, 255, 255);
  padding: 18px 32px;
  color: rgba(33, 33, 33, 1);
  font-family: "Poppins", Arial, sans-serif;
  font-weight: 500;
  font-style: normal;
  font-size: 16px;
  line-height: 1;
}

.modal__submit-btn_type_disabled {
  opacity: 50%;
}

.modal__submit-btn:hover {
  background-color: rgba(33, 33, 33, 0.8);
  cursor: pointer;
}

.modal__delete-btn:hover {
  background-color: rgba(255, 51, 51, 1);
  cursor: pointer;
}

.modal__cancel-btn:hover {
  background-color: rgba(33, 33, 33, 1);
  color: white;
  cursor: pointer;
}

.modal__preview-container {
  max-width: 1080px;
  position: relative;
}

.modal__image {
  max-width: 80vw;
  max-height: 80vh;
  width: 100%;
  border-radius: 8px;
  position: relative;
}

.modal__image-caption {
  background-color: rgba(33, 33, 33, 1);
  border-radius: 8px;
  padding: 4px 8px 4px 8px;
  color: white;
  font-family: "Poppins", Arial, sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 20px;
  line-height: 1.2;
  margin: 8px 0 0;
  max-width: 350px;
  position: absolute;
}

.modal__close-image-btn {
  width: 40px;
  height: 40px;
  background-image: url(../images/close-icon-white.svg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  background-color: transparent;
  border-style: none;
  position: absolute;
  padding: 0;
}

.modal__close-image-btn:hover {
  cursor: pointer;
  opacity: 40%;
}

@media screen and (min-width: 631px) and (max-width: 886px) {
  .modal {
    background-color: rgba(0, 0, 0, 0.8);
  }

  .modal__close-btn_delete {
    right: 0;
    top: -45px;
  }
}

@media screen and (max-width: 630px) {
  .modal {
    background-color: rgba(0, 0, 0, 0.8);
  }

  .modal__image {
    max-width: 288px;
  }

  .modal__image-caption {
    max-width: 200px;
    font-size: 16px;
  }

  .modal__image-with-btn {
    display: flex;
    flex-direction: column-reverse;
    align-items: flex-end;
  }

  .modal__close-image-btn {
    position: static;
  }

  .modal__container {
    padding: 12px;
  }

  .modal__title-with-btn {
    margin: 0 0 24px;
  }

  .modal__title {
    font-size: 20px;
  }

  .modal__input {
    margin-bottom: 24px;
  }

  .modal__close-btn_delete {
    right: 0;
    top: -45px;
  }

  .modal__form_delete {
    flex-direction: column;
    align-items: center;
  }

  .modal__title-with-btn_delete {
    margin: 0 0 20px;
  }

  .modal__title_delete {
    text-align: center;
  }
}
